body {
    background-color: lightblue;
}
  
h1 {
    color: gray;
    font-family: verdana;
    text-align: center;
}

h2 {
  color: black;
  font-family: verdana;
  text-align: center;
}
  
p {
    margin: 0 auto;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.oneandhalf {
    line-height: 1.5em;

}
ul {
    list-style-type: none;
    font-family: verdana;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #3a3a3a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }*/

@viewport {
    width: device-width ;
    zoom: 1.0;
}
br {
    display: block;
    margin: 10px ;
}